{{!< layout}}
<div id="gh-unlock_signup" class="gh-unlock_signup level-item">
  <div id="gh-unlock_signup-modal" class="modal is-active">
    <div class="modal-background"></div>

    <div class="modal-content ">
      <div class="box p-6 has-text-centered">
        <i class="is-size-1 fa-regular fa-envelope mb-4"></i>
        <h3 class="is-size-3 mb-5 has-text-weight-bold">Now check your email!</h3>
        <p class="mb-4">To login, click the confirmation link in your inbox, if it doesn't arrive within 3 minutes, check your spam folder</p>
      </div>
    </div>
  </div>

</div>