{{!< layout}}
<div id="gh-unlock_signup" class="gh-unlock_signup level-item">

  <div class="gh-unlock_signup-content ">
    <div class="box p-6">
      <h1 class="is-size-1 mb-6 has-text-centered">Ghost Unlock</h1>
        <h2 class="subtitle  mb-5 has-text-centered">Link email address complete sign up</h2>
        <form method="post" class="gh-unlock_signup-form" action="/signup/verify">
          <input class="input mt-1 mb-5" type="email" id="email" name="email" placeholder="email@example.com">
          <button type="submit" class="button is-success is-fullwidth gh-unlock_signup-btn mb-5">Sign up</button>
        </form>
    </div>
  </div>

</div>